Count1234.xcodeproj/project.xcworkspace/xcuserdata/dkx365.xcuserdatad/UserInterfaceState.xcuserstate
Count1234.xcodeproj/xcuserdata/dkx365.xcuserdatad/xcschemes/Count1234.xcscheme
.DS_Store
Count1234.xcodeproj/xcuserdata/dkx365.xcuserdatad/xcschemes/xcschememanagement.plist
